h1{
color: white;
}

body{
background-image: url("espaço.jpg");
background-size:100%;
}

.mudarcor{
color: white;
}


h2{
color: black;
}

h1{
 text-align: center;
}

h2{
text-align: center;
}

.imagem{
text-align: center;
}

@media screen and (max-width:480px){
 body{
font-size: 30px; width:100%; height:100%;
background-repeat: no-repeat;
  background-size: 100%;
  }
}
